@font-face {
    font-family: bahnschrift;
    src: url(css/bahnschrift.ttf);
}
*{
    font-family: bahnschrift;
    color: white;
    margin:0;
    padding:0;
}
body{
    background-color: #171717;
}
.button-wrapper {
    position: fixed;
    top:95%;
    right: 0;
    transform: translateY(-95%);
}
.Menu-wrapper{
    background-color: #292932;
    margin-right: -200px;
    position: fixed;
    right: 0;
    width: 200px;
    height: 100%;
    z-index: 5;
    transition: all .5s cubic-bezier(1.00,0, 0, 1.00) ;
}

#SideMenuBtn {
    transition: all .5s cubic-bezier(1.00,0, 0, 1.00) ;
}

.scroll-button {
    color: #b5b5be;
    background-color: #292932;
    text-decoration: none;
    border: none;
    border-bottom-left-radius: 20%;
    border-top-left-radius: 20%;
    font-size: 40px;
    width: 50px;
    text-align: center;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translate3d(30%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.logoutbtn{
    font-size: 150%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    bottom: 0%;
    position: absolute;
}
.logoutbtn:hover{
    border-radius: 10px;
    opacity: 0.5;
    background-color: #595962;
}